html
body
div(style='height:300px; width:100%;background-color:#e2e2e2; text-align:center; padding-top:50px')
h2 Payment done successfully! html
body
div(style='height:300px; width:100%;background-color:#e2e2e2; text-align:center; padding-top:50px')
h2 Payment done successfully! $10.00
0.00